/* COMMON */

html {
  --color-white: #fff;
  --color-black: #000;
  --color-font: #1d1d1d;
  --color-font-darkgray: #6e6e6e;
  --color-font-middlegray: #d7d7d7;
  --color-font-lightgray: #f5f5f5;
  --color-link: #0071e3;
  --color-link-focus: #81b9f1;
  --color-border: #d2d2d2;
  --color-header: #3a3a3a;
  --color-section: #f5f5f5;
  --color-shadow: rgba(0, 0, 0, 0.4);
  --header-height: 44px;
}

html.fixed {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  position: relative;
  font-size: 16px;
  font-family: "roboto", "Noto Sans KR", "sans-serif";
  line-height: 1;
  color: var(--color-font);
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: var(--color-font);
}

p {
  line-height: 1.6;
}

sup {
  vertical-align: top;
  font-size: 0.7em;
  margin-right: 6px;
}

.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Links */

.links {
  display: flex;
  gap: 40px;
  justify-content: center;
}

a.link {
  color: var(--color-link);
  font-size: 19px;
  line-height: 1.3;
}

a.link:hover {
  text-decoration: underline;
}

a.link::after {
  content: " >";
}

@media (max-width: 740px) {
  .links {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  a.link {
    font-size: 16px;
  }
}

/* Inner */
.inner {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

@media (max-width: 1000px) {
  .inner {
    max-width: 692px;
  }
}

/* btn */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: var(--color-link);
  color: var(--color-white);
  font-size: 11px;
  line-height: 1;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:focus {
  box-shadow: 0 0 0 4px var(--color-link-focus);
}

.btn:hover {
  opacity: 0.7;
}

/* Feature */
.feature {
  display: flex;
}

/* Figures */
.figures {
  flex-grow: 1;
  position: relative;
}

.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}

/* Infos */
.infos {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.infos.info--center {
  justify-content: center;
}
.infos.info--end {
  justify-content: flex-end;
}

.info {
  max-width: 330px;
  margin-bottom: 24px;
  opacity: 0;
  transform: translate(0, 100px);
  transition: 1s;
}

.info.show {
  opacity: 1;
  transform: translate(0, 0);
}

.info a.link {
  display: block;
  margin-top: 44px;
  font-size: 19.5px;
}
.info .icon {
  width: 100px;
  height: 100px;
  margin: 0 0 -30px -30px;
  animation: sprite-icon 3s steps(1) infinite;
}

.info .icon.icon--chip {
  background-image: url("../images/sprite_chip.png");
}
.info .icon.icon--faster {
  background-image: url("../images/sprite_faster.png");
}
.info .icon.icon--neural {
  background-image: url("../images/sprite_neural.png");
}
.info .icon.icon--apps {
  background-image: url("../images/sprite_apps.png");
}
.info .icon.icon--battery {
  background-image: url("../images/sprite_battery.png");
}
.info .icon.icon--display {
  background-image: url("../images/sprite_display.png");
}
.info .icon.icon--true-tone {
  background-image: url("../images/sprite_true_tone.png");
}
.info .icon.icon--center-stage {
  background-image: url("../images/sprite_center_stage.png");
}
.info .icon.icon--front-camera {
  background-image: url("../images/sprite_front_camera.png");
}
.info .icon.icon--back-camera {
  background-image: url("../images/sprite_back_camera.png");
}
.info .icon.icon--scan {
  background-image: url("../images/sprite_scan.png");
}
.info .icon.icon--download {
  background-image: url("../images/sprite_download.png");
}
.info .icon.icon--wifi {
  background-image: url("../images/sprite_wifi.png");
}
.info .icon.icon--lte {
  background-image: url("../images/sprite_lte.png");
}
.info .icon.icon--pencil {
  background-image: url("../images/sprite_pencil.png");
}
.info .icon.icon--keyboard {
  background-image: url("../images/sprite_keyboard.png");
}
.info .icon.icon--notes {
  background-image: url("../images/sprite_notes.png");
}
.info .icon.icon--covers {
  background-image: url("../images/sprite_covers.png");
}
.info p {
  font-size: 21.5px;
  font-weight: 600;
  line-height: 1.5;
}

.whiteBox {
  background-color: var(--color-white);
  max-width: 1386px;
  margin: 0 auto;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 100px 30px;
}

.whiteBox.whiteBox--transparent {
  background-color: transparent;
}

.whiteBox h1 {
  line-height: 1.3;
  font-weight: 600;
  font-size: 50px;
}

.whiteBox p {
  font-size: 19px;
  margin-top: 20px;
  font-weight: 500;
}

.whiteBox .icon {
  margin-bottom: 20px;
}

.whiteBox a.link {
  display: block;
  margin-top: 26px;
}

/* Header */

header {
  background-color: var(--color-header);
  position: relative;
  z-index: 8;
  transition: 0.4s;
}

header .main_menu {
  display: flex;
  color: var(--color-font-lightgray);
  justify-content: space-between;
  height: 45px;
}

header ul li {
  font-size: 14px;
  display: flex;
}

header .main_menu > li > a {
  padding: 0 6px;
  color: var(--color-font-lightgray);
  text-decoration: none;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

header ul li a:hover {
  opacity: 1;
}

header ul.main_menu > li.header_logo > a,
header ul.main_menu > li.btn_search > a,
header ul.main_menu > li.btn_shopping_bag > a {
  width: 14px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 10px 13px;
}

header ul.main_menu li.btn_main_menu {
  display: none;
}

header ul.main_menu li.btn_main_menu span {
  display: block;
  height: 1px;
  width: 15px;
  background-color: var(--color-white);
  margin-bottom: 6px;
  transition: 0.3s;
}

header ul.main_menu li.btn_main_menu span:last-child {
  margin-bottom: 0;
}

header ul li.header_logo > a {
  background-image: url(../images/header_apple.svg);
  background-position: center;
}

header ul li.btn_search > a {
  background-image: url(../images/header_search.svg);
}

header ul.main_menu > li.btn_shopping_bag > a {
  background-image: url(../images/header_bag.svg);
  transition: 0.4s;
}

header .btn_shopping_bag {
  position: relative;
}

/* Shopping_bag DropDown Menu */
header .shopping_bag {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-white);
  width: 320px;
  top: calc(100% + 4px);
  right: -20px;
  border-radius: 20px;
  border: 2px solid var(--color-border);
  padding: 20px 10px 10px;
  box-sizing: border-box;
  transition: 0.5s;
}

header .shopping_bag.show {
  visibility: visible;
  opacity: 1;
}

.main_menu .btn_shopping_bag .shape {
  width: 20px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: 26px;
}

.main_menu .btn_shopping_bag .shape::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid var(--color-border);
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 50%;
  transform: rotate(45deg);
  transform-origin: 0 0;
}

.main_menu .btn_shopping_bag .message {
  font-size: 17px;
  text-align: center;
  margin: 30px 0;
  color: var(--color-font-darkgray);
}

.main_menu .btn_shopping_bag .shopping_bag ul li > a {
  display: block;
  width: 100%;
  color: var(--color-link);
  border-top: 1px solid var(--color-border);
  font-weight: 500;
  font-size: 14px;
  padding: 14px;
}

.main_menu .btn_shopping_bag .shopping_bag ul li > a:hover {
  text-decoration: underline;
}

/* Header / Search bar */

header .search_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

header .search {
  max-width: calc(100% - 90px);
  margin: 0 auto;
  position: relative;
}

header .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
}

header .search .textfield {
  position: relative;
  width: 100%;
  transition: 0.2s;
}

header .search .textfield input {
  width: 100%;
  height: var(--header-height);
  color: var(--color-white);
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: transparent;
}

header .search .textfield .search-icon {
  width: 40px;
  height: var(--header-height);
  background-image: url(../images/header_search.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  margin: 0 auto 0;
}
header .search .textfield .search-closer {
  width: 40px;
  height: var(--header-height);
  background-image: url(../images/header_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0.4;
}

header .search .textfield .search-closer:hover {
  opacity: 1;
}

header .search .auto-completes {
  position: absolute;
  top: var(--header-height);
  width: 100%;
  left: 0;
  /* margin-top: 13px; */
  padding: 26px 40px 20px;
  background-color: var(--color-white);
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  z-index: 11;
}

header .search .auto-completes h3 {
  margin-bottom: 20px;
  font-size: 13px;
}

header .search .auto-completes li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}
header .search .auto-completes li:hover a {
  color: var(--color-link);
}

/* SearchBar Animation  */
header .search input,
header .search .search-icon,
header .search .auto-completes h3,
header .search .auto-completes li {
  transition: 0.6s;
  transform: translate(100px, 0);
}

header.searching .inner ul.main_menu li {
  opacity: 0;
  transform: scale(0.7);
}

header.searching .search_wrap {
  visibility: visible;
  transition-delay: 0.2s;
  opacity: 1;
}

header.searching .search input,
header.searching .search .search-icon,
header.searching .search .auto-completes h3,
header.searching .search .auto-completes li {
  transition-delay: 0.2s;
  transform: translate(0, 0);
}

/* Mobile Mode Main Menu ( MMMM ) */
header .clone-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 103px;
  left: 0;
  width: 100%;
  /* padding: 0 20px; */
  box-sizing: border-box;
  transform: translate(0, -50px);
}

header .clone-menu ul li {
  margin: 4px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-header);
}

header .clone-menu ul li:last-child {
  border-bottom: none;
}

header .clone-menu ul li a {
  display: block;
  padding: 16px 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-font-middlegray);
}

header .clone-menu ul li:hover a {
  color: var(--color-white);
}

@media (max-width: 1000px) {
  header .inner {
    padding: 0 10px;
  }
}

@media (max-width: 740px) {
  header ul.main_menu > li {
    display: none;
  }

  header ul.main_menu > li.btn_main_menu,
  header ul.main_menu > li.header_logo,
  header ul.main_menu > li.btn_shopping_bag {
    display: flex;
  }

  header .search_wrap {
    width: 100%;
    padding: 0 20px 14px;
    box-sizing: border-box;
    top: var(--header-height);
  }

  header .search_wrap .search .textfield {
    width: 100%;
  }

  header .search .textfield input {
    margin-right: 60px;
    transform: translate(0, 0);
    background-color: var(--color-header);
    position: absolute;
    border-radius: 8px;
  }

  header .search-icon {
    width: 30px;
    height: 30px;
    background-image: url(../images/header_search.svg);
    position: relative;
    z-index: 1;
  }

  header .search-closer {
    display: none;
  }

  header .search .search-canceler {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    visibility: hidden;
    color: var(--color-link);
  }

  header.menuing {
    background-color: var(--color-black);
  }

  header::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: var(--header-height);
    background-color: var(--color-black);
    width: 100%;
    height: 0;
    transition: 0.4s;
  }

  header.menuing::before {
    height: 100vh;
  }

  header.menuing ul.main_menu li.btn_shopping_bag > a {
    opacity: 0;
    visibility: hidden;
  }

  header.menuing ul.main_menu > li.btn_main_menu span:first-child {
    transform: translate(0, 3.5px) rotate(45deg);
  }

  header.menuing ul.main_menu > li.btn_main_menu span:last-child {
    transform: translate(0, -3.5px) rotate(-45deg);
  }

  header.menuing .search_wrap {
    padding: 0;
    padding-bottom: 60px;
    max-width: 780px;
    visibility: visible;
    opacity: 1;
    height: var(--header-height);
    border-bottom: 1px solid var(--color-header);
  }

  header.menuing .search_wrap .search {
    max-width: 100%;
    margin: 0 20px;
  }
  header.menuing .search_wrap .shadow {
    display: none;
  }

  header .search_wrap .auto-completes {
    visibility: hidden;
    opacity: 0;
  }

  header.menuing .clone-menu {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    transition: 0.7s;
  }

  header.menuing.searching--mobile {
    transform: translate(0, -30px);
    border-bottom: none;
  }

  header.menuing.searching--mobile .textfield {
    width: calc(100% - 50px);
  }

  header.menuing.searching--mobile .search-canceler {
    opacity: 1;
    visibility: visible;
  }

  header.menuing.searching--mobile .clone-menu {
    transform: translate(0, 100px);
    visibility: hidden;
    opacity: 0;
  }

  header.menuing.searching--mobile .auto-completes {
    visibility: visible;
    opacity: 1;
    margin-top: 20px;
    padding: 10px 0 30px;
    background-color: var(--color-black);
  }

  header.menuing.searching--mobile .auto-completes h3 {
    color: var(--color-font-darkgray);
    font-size: 12px;
  }

  header.menuing.searching--mobile .auto-completes ul li {
    padding: 20px 20px;
    border-bottom: 1px solid var(--color-header);
  }

  header.menuing.searching--mobile .auto-completes ul li a {
    padding: 0;
    color: var(--color-font-middlegray);
    font-size: 12px;
    font-weight: 400;
  }

  header.menuing.searching--mobile .auto-completes ul li:hover a {
    color: var(--color-white);
  }

  header .search input,
  header .search .search-icon,
  header .search .auto-completes h3,
  header .search .auto-completes li {
    transform: translate(0, 0);
  }
}

/* Sticky Header_Navigation */

nav {
  --nav-height: 52px;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  z-index: 3;
  border-bottom: 1px solid var(--color-border);
}

nav .inner {
  display: flex;
  align-items: center;
  height: var(--nav-height);
}

nav h2 {
  margin-left: 12px;
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
}

nav .nav_menu_toggler {
  visibility: hidden;
  opacity: 0;
}
nav .nav_menu {
  display: flex;
  gap: 12px;
  margin-right: 12px;
}

nav .nav_menu a {
  font-size: 13px;
  display: block;
  padding: 6px;
}

nav .nav_menu li:hover a {
  color: var(--color-link);
}

nav .nav_menu li.active a {
  opacity: 0.5;
  cursor: default;
}

nav .nav_menu li.active:hover a {
  color: var(--color-font);
}

/* Sticky Navigation -- Mobile Mode  */

@media (max-width: 740px) {
  nav .shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-shadow);
    visibility: hidden;
    opacity: 0;
  }

  nav .bg_nav_menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 232px;
    width: 100%;
    background-color: var(--color-white);
    transition: 0.4s;
  }
  nav .nav_menu_toggler {
    opacity: 1;
    visibility: visible;
    position: relative;
    width: 40px;
    margin: 0 20px 0;
    height: 24px;
    cursor: pointer;
  }

  nav .nav_menu_toggler::before,
  nav .nav_menu_toggler::after {
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--color-font-darkgray);
    transition: 0.5s;
  }

  nav .nav_menu_toggler::before {
    transform: rotate(40deg);
    left: -9px;
  }

  nav .nav_menu_toggler::after {
    transform: rotate(-40deg);
    right: -9px;
  }

  nav .nav_menu {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    display: block;
    width: 100%;
    padding: 0 40px 30px;
    box-sizing: border-box;
    transform: translate(0, -50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  nav .nav_menu li {
    padding: 16px 0;
    border-bottom: 1px solid var(--color-border);
  }

  nav .nav_menu li:last-child {
    border-bottom: none;
  }

  nav.menuing .bg_nav_menu {
    visibility: visible;
    opacity: 1;
  }

  nav.menuing .shadow {
    visibility: visible;
    opacity: 1;
  }

  nav.menuing .nav_menu_toggler::before {
    transform: rotate(-40deg);
  }
  nav.menuing .nav_menu_toggler::after {
    transform: rotate(40deg);
  }
  nav.menuing .nav_menu {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Main Page */
main {
  overflow-x: hidden;
}

/* Hero Content */

.hero {
  background-color: var(--color-section);
}
.hero .inner {
  padding-bottom: 110px;
}
.hero h1 {
  position: relative;
  width: 221px;
  height: 91px;
  background-image: url(../images/hero_ipad_text.png);
  transform: translate(624px, 235px);
  z-index: 1;
}

.hero .figures {
  height: 808px;
  position: relative;
}

.hero figure {
  transform: translate(74px, -164px);
}

.hero figure figcaption .caption-camera {
  transform: translate(43px, 580px);
  width: 120px;
  height: 84px;
  background-image: url(../images/hero_ipad_caption_camera.png);
}
.hero figure figcaption .caption-chip {
  transform: translate(589px, 430px);
  width: 95px;
  height: 43px;
  background-image: url(../images/hero_ipad_caption_chip.png);
}
.hero figure figcaption .caption-storage {
  transform: translate(627px, 501px);
  width: 80px;
  height: 43px;
  background-image: url(../images/hero_ipad_caption_storage.png);
}

.hero h2 {
  width: 738px;
  height: 145px;
  margin: 0 auto;
  background-image: url(../images/hero_headline.png);
}

.hero p.pricing {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.hero p.description {
  width: 88%;
  margin: 18px auth 0;
  font-size: 19px;
  text-align: center;
}

.hero .links {
  margin-top: 40px;
}

/* HeroSection - Tablet Mode */
@media (max-width: 1000px) {
  .hero h1 {
    transform: scale(0.8) translate(590px, 200px);
  }

  .hero .figures {
    height: 600px;
  }
  .hero figure {
    transform: none;
  }
  .hero figure img {
    transform: scale(0.8) translate(0, -280px);
  }
  .hero figure figcaption .caption-camera {
    transform: scale(0.8) translate(100px, 420px);
  }
  .hero figure figcaption .caption-chip {
    transform: scale(0.8) translate(650px, 180px);
  }
  .hero figure figcaption .caption-storage {
    transform: scale(0.8) translate(700px, 270px);
  }
  .hero h2 {
    width: 450px;
  }
  .hero p.pricing {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .hero p.description {
    font-size: 18px;
  }
  a.link {
    font-size: 18px;
  }
}

/* HeroSection - Mobile Mode */
@media (max-width: 740px) {
  .hero .inner {
    padding-bottom: none;
  }

  .hero h1 {
    position: static;
    transform: none;
    padding-top: 60px;
    margin: 0 auto 40px;
  }

  .hero .figures {
    display: flex;
    justify-content: center;
    height: auto;
    padding-bottom: 110px;
  }

  .hero figure {
    transform: none;
    position: relative;
  }

  .hero figure img {
    width: 437px;
    margin: 0 auto;
    transform: none;
  }

  .hero figure figcaption .caption-camera {
    transform: scale(1.3) translate(0px, 330px);
    background-image: url(../images/hero_ipad_caption_camera_mobile.png);
  }
  .hero figure figcaption .caption-chip {
    transform: translate(270px, 0);
  }
  .hero figure figcaption .caption-storage {
    transform: translate(320px, 80px);
  }

  .hero h2 {
    width: 620px;
    background-image: url(../images/hero_headline_mobile.png);
  }

  .hero p.pricing {
    font-size: 20px;
  }

  .hero p.description {
    font-size: 16px;
    width: auto;
  }
}

/* Power Section */

.power {
  margin-top: 110px;
}

/* Power - Multiple Apps */

.power .multiple-apps h1 {
  width: 500px;
  height: 280px;
  background-image: url(../images/power_headline.png);
  transform: translate(104px, 0);
}

.power .multiple-apps .figures {
  height: 773px;
}

.power .multiple-apps figure figcaption {
  width: 136px;
  height: 46px;
  background-image: url(../images/power_multiple_apps_caption.png);
  transform: translate(700px, -40px);
}

/* Power - Arcade */
.power .arcade {
  margin-top: 60px;
}

.power .arcade .figures {
  height: 750px;
}

.power .arcade figure {
  transform: translate(-347px, -90px);
}

.power .arcade figcaption {
  width: 150px;
  height: 77px;
  background-image: url(../images/power_arcade_caption.png);
  transform: translate(483px, 673px);
}

/* Power - Create */
.power .create {
  margin-top: 60px;
}

.power .create .figures {
  height: 800px;
}

.power .create figure {
  transform: translate(-25px, 50px);
}

.power .create figcaption {
  width: 142px;
  height: 46px;
  background-image: url(../images/power_create_caption.png);
  transform: translate(600px, 920px);
}

/* Display Section */
.display {
  margin-top: 450px;
}

/* Display / Notes */
.display .notes h1 {
  width: 630px;
  height: 370px;
  background-image: url(../images/display_headline.png);
  transform: translate(104px, 0);
}

.display .notes .figures {
  height: 814px;
  margin-top: 26px;
}

.display .notes figcaption {
  width: 145px;
  height: 45px;
  background-image: url(../images/display_notes_caption.png);
  transform: translate(707px, -16px);
}

/* Display / SharedDisplay */

.display .shareDisplay {
  margin-top: 120px;
}
.display .shareDisplay .figures {
  height: 630px;
}

.display .shareDisplay figure {
  transform: translate(-360px, 0);
}

.display .shareDisplay figcaption {
  width: 150px;
  height: 50px;
  transform: translate(540px, 660px);
  background-image: url(../images/display_shareplay_caption.png);
}

/* Camera Section */
.camera {
  margin-top: 160px;
}

/* Camera - CenterStage */

.camera .stage {
  position: relative;
}

.camera .stage h1 {
  width: 720px;
  height: 450px;
  background-image: url(../images/camera_headline.png);
  transform: translate(-25px, 0);
}

.camera .stage .info {
  position: absolute;
  top: 150px;
  right: 0;
}

.camera .stage .figures {
  height: 700px;
}

.camera .stage video {
  position: absolute;
  top: 36px;
  left: 76px;
  -webkit-mask-image: url(../images/camera_video_mask.png);
  mask-image: url(../images/camera_video_mask.png);
}

.camera .stage .controller--play,
.camera .stage .controller--pause {
  display: flex;
  color: var(--color-link);
  transform: translate(428px, -134px) rotate(-3deg);
  cursor: pointer;
  gap: 8px;
  align-items: center;
}

.camera .stage .controller--play.hide,
.camera .stage .controller--pause.hide {
  display: none;
}

.camera .stage .controller--play:hover,
.camera .stage .controller--pause:hover {
  text-decoration: underline;
}

.camera .stage .controller--play img,
.camera .stage .controller--pause img {
  width: 20px;
  margin-top: -2px;
}

.camera .stage figcaption {
  width: 150px;
  height: 150px;
  transform: translate(-150px, 350px);
  background-image: url(../images/camera_hardware_caption.png);
}

/* Camera - Edit */
.camera .edit {
  margin-top: 120px;
}

.camera .edit .figures {
  height: 910px;
}

.camera .edit figure {
  transform: translate(20px, 0);
}

.camera .edit figcaption {
  width: 150px;
  height: 150px;
  transform: translate(80px, 863px);
  background-image: url(../images/camera_edit_caption.png);
}

/* Wireless - Face Time  */
.wireless {
  margin-top: 200px;
}

.wireless .facetime h1 {
  background-image: url(../images/wireless_headline.png);
  width: 950px;
  height: 320px;
}

.wireless .facetime .figures {
  height: 840px;
}

.wireless .facetime figcaption {
  background-image: url(../images/wireless_facetime_caption.png);
  width: 165px;
  height: 154px;
  transform: translate(830px, -110px);
}

/* Wireless - files */
.wireless .files {
  margin-top: 120px;
}

.wireless .files .figures {
  height: 880px;
}

.wireless .files figure {
  transform: translate(34px, -34px);
}

.wireless .files figcaption {
  background-image: url(../images/wireless_files_caption.png);
  width: 168px;
  height: 70px;
  transform: translate(80px, 635px);
}

/* Accessories Section */
.accessories {
  margin-top: 30px;
}

.accessories h1 {
  width: 550px;
  height: 343px;
  margin: 0 auth;
  background-image: url(../images/accessories_headline.png);
}

.accessories .figures {
  height: 1021px;
}

.accessories figcaption .caption-memo {
  background-image: url(../images/accessories_caption_memo.png);
  transform: translate(750px, -60px);
  background-repeat: no-repeat;
  width: 230px;
  height: 76px;
}

.accessories figcaption .caption-supports {
  background-image: url(../images/accessories_caption_supports.png);
  transform: translate(195px, 740px);
  width: 200px;
  height: 78px;
  background-repeat: no-repeat;
}

.accessories .infos {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.accessories .infos .info {
  max-width: 430px;
}

/* iPad OS Section  */
.iPadOS {
  margin-top: 140px;
}

.iPadOS h1 {
  width: 580px;
  height: 349px;
  background-image: url(../images/ipados_headline.png);
  transform: translate(160px, -34px);
}

.iPadOS .infos {
  align-items: flex-end;
}

.iPadOS .infos .info {
  max-width: 430px;
}

.iPadOS .figures {
  height: 750px;
  display: flex;
}

.iPadOS .figures > div {
  flex-grow: 1;
}

.iPadOS .figure-split-view {
  width: 340px;
  height: 400px;
  transform: translate(-240px, -290px);
}

.iPadOS .figure-split-view figcaption {
  width: 232px;
  height: 170px;
  background-image: url(../images/ipados_split_view_caption.png);
  transform: translate(140px, -100px);
}

.iPadOS .figure-widgets {
  width: 350px;
  height: 400px;
  transform: translate(220px, 70px);
}

.iPadOS .figure-widgets figcaption {
  background-image: url(../images/ipados_widgets_caption.png);
  width: 240px;
  height: 240px;
  transform: translate(320px, 405px);
}

.iPadOS .figure-quick-note {
  width: 430px;
  height: 600px;
  transform: translate(-630px, 260px);
}

.iPadOS .figure-quick-note figcaption {
  width: 180px;
  height: 160px;
  background-image: url(../images/ipados_quick_note_caption.png);
  transform: translate(490px, 450px);
}

/* Apps Section */

.apps {
  margin-top: 320px;
}

.apps h1 {
  width: 550px;
  height: 330px;
  background-image: url(../images/apps_headline.png);
}

.apps .info {
  max-width: 430px;
  padding: 34px 64px 0;
}

.apps .figures > div {
  flex-grow: 1;
}

.apps .figures {
  height: 660px;
  display: flex;
}

.apps .figure-masterclass {
  width: 550px;
  height: 550px;
  transform: translate(600px, -340px);
}

.apps .figure-masterclass figcaption {
  width: 140px;
  height: 110px;
  transform: translate(30px, 670px);
  background-image: url(../images/apps_masterclass_caption.png);
}

.apps .figure-adobe {
  width: 650px;
  height: 500px;
  transform: translate(-480px, 40px);
}

.apps .figure-adobe figcaption {
  background-image: url(../images/apps_adobe_caption.png);
  width: 140px;
  height: 110px;
  transform: translate(490px, 480px);
}
.apps .figure-fantasian {
  width: 650px;
  height: 500px;
  transform: translate(-120px, 420px);
}

.apps .figure-fantasian figcaption {
  width: 110px;
  height: 100px;
  background-image: url(../images/apps_fantasian_caption.png);
  transform: translate(30px, 460px);
}

.apps .figure-books {
  width: 540px;
  height: 498px;
  transform: translate(-100px, 20px);
}

.apps .figure-books figcaption {
  width: 70px;
  height: 70px;
  transform: translate(360px, 690px);
  background-image: url(../images/apps_books_caption.png);
}
.apps .figure-good-note {
  width: 650px;
  height: 608px;
  transform: translate(-50px, 310px);
}

.apps .figure-good-note figcaption {
  width: 140px;
  height: 120px;
  background-image: url(../images/apps_goodnotes_caption.png);
  transform: translate(40px, 658px);
}

/* Privacy Section */
.privacy {
  margin-top: 550px;
}

.privacy h1 {
  width: 430px;
  height: 240px;
  background-image: url(../images/privacy_headline.png);
  transform: translate(610px, -40px);
  position: relative;
  z-index: 1;
}

.privacy figure {
  width: 620px;
  height: 450px;
  transform: translate(-150px, -190px);
}

.privacy figcaption.apple-login {
  width: 230px;
  height: 140px;
  background-image: url(../images/privacy_caption_apple_id.png);
  transform: translate(190px, -667px);
}

.privacy figcaption.touch-login {
  width: 190px;
  height: 140px;
  background-image: url(../images/privacy_caption_touch_id.png);
  transform: translate(450px, -280px);
}

.privacy .info {
  max-width: 430px;
}

/* Accessibility Section */

.accessibility {
  margin: 50px 0 0 0;
}

.accessibility h1 {
  width: 390px;
  height: 360px;
  background-image: url(../images/accessibility_headline.png);
}

.accessibility .info {
  max-width: 430px;
}

.accessibility figure {
  width: 440px;
  height: 330px;
  transform: translate(490px, -565px);
}

/* AR Section */

.ar {
  background-color: var(--color-section);
  padding-top: 20px;
}

.ar .whiteBox {
  display: block;
  margin-top: 20px;
  padding-bottom: 0;
}

.ar .inner {
  display: flex;
}

.ar .inner > div {
  width: 400px;
  margin-top: 60px;
  margin-right: 90px;
}

/* Environment Section */
.environment {
  background-color: var(--color-section);
  padding-top: 30px;
  text-align: center;
}

.environment .icon {
  display: block;
  margin: 0 auto 30px;
}

.environment h1 {
  color: #03a10e;
}

/* Accessory Show Section */
.accessory-shop {
  background-color: var(--color-section);
}

.accessory-shop .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accessory-shop .whiteBox {
  text-align: center;
}

.accessory-shop img {
  margin-top: 40px;
}

/* Trade Section */

.trade {
  background-color: var(--color-section);
}

.trade .inner {
  text-align: center;
}

/* Compare Section */

.compare {
  background-color: var(--color-section);
  padding-top: 42px;
  text-align: center;
}

.compare .items {
  display: flex;
  justify-content: space-around;
  margin: 67px auto 32px;
}

.compare .items .item {
  width: 190px;
  border-bottom: 2px solid var(--color-border);
}

.compare .item .thumbnail {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
}

.compare .item ul.colors {
  display: flex;
  margin-bottom: 30px;
  gap: 8px;
  justify-content: center;
}

.compare .item ul.colors li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-font-lightgray);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.compare .item .name {
  font-size: 22px;
  font-weight: 600;
}

.compare .item .price {
  margin-bottom: 24px;
  font-size: 18px;
}

.compare .item .btn {
  margin: 0 auto 14px;
}

.compare .item .link {
  margin-top: 56px;
  margin-bottom: 46px;
  font-size: 14px;
}

/* footer - buyInfo */
footer {
  background-color: var(--color-section);
  padding-top: 120px;
}

footer .buy-info {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer .buy-info img {
  width: 80px;
  height: 80px;
}

footer h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 16px 0 12px;
}

footer .buy-info p {
  margin-bottom: 30px;
}

/* Footer - FootNote */

footer .warning {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: 18px 0 12px;
}

footer .warning ol {
  list-style: decimal;
  padding-left: 16px;
}

footer .warning li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-font-darkgray);
}

/* BreadCrumbs */

footer .breadcrumbs {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}

footer .breadcrumbs a.apple-logo {
  width: 16px;
  height: 16px;
  background-image: url(../images/path_apple.svg);
}

footer .breadcrumbs a {
  position: relative;
  font-size: 14px;
  color: var(--color-font-darkgray);
}

footer .breadcrumbs a:hover {
  text-decoration: underline;
}

footer .breadcrumbs a::after {
  content: "";
  background-image: url(../images/path_div.svg);
  width: 8px;
  height: 16px;
  position: absolute;
  margin: auto;
  right: -18px;
  top: 0;
  bottom: 0;
}

footer .breadcrumbs a:last-child::after {
  display: none;
}

/* Footer - Navigations */
footer .navigations {
  display: flex;
  flex-direction: column;
  height: 364px;
  flex-wrap: wrap;
  padding-top: 32px;
  align-content: space-between;
}

footer .navigations .text {
  font-size: 16px;
  font-weight: 700;
}

footer .navigations ul {
  margin: 10px 0 34px;
}

footer .navigations ul li {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-font-lightgray);
}

footer .navigations ul a:hover {
  text-decoration: underline;
}

/* Footer - Contact */

footer .contact {
  font-size: 14px;
  padding: 50px 0 10px;
}

footer .contact a {
  color: var(--color-link);
}

/* Footer - Page Info */

footer .pageinfo {
  padding: 20px 0 60px;
  display: flex;
  font-size: 15px;
  border-top: 1px solid var(--color-border);
  justify-content: start;
  gap: 50px;
}

footer .copyright {
  font-size: 14px;
}

footer .pageinfo .terms {
  flex-grow: 1;
}

footer .pageinfo .terms ul {
  display: flex;
  gap: 20px;
}

footer .pageinfo .terms ul li {
  position: relative;
  font-weight: 500;
}

footer .pageinfo .terms ul li a:hover {
  text-decoration: underline;
}

footer .pageinfo .terms ul li::after {
  content: " | ";
  width: 8px;
  margin: auto;
  position: absolute;
  right: -18px;
  top: 0;
  color: var(--color-border);
}

footer .pageinfo .terms ul li:last-child::after {
  display: none;
}
@keyframes sprite-icon {
  0.00% {
    background-position: 0px 0px;
  }
  1.67% {
    background-position: -100px 0px;
  }
  3.33% {
    background-position: -200px 0px;
  }
  5.00% {
    background-position: -300px 0px;
  }
  6.67% {
    background-position: -400px 0px;
  }
  8.33% {
    background-position: -500px 0px;
  }
  10.00% {
    background-position: 0px -100px;
  }
  11.67% {
    background-position: -100px -100px;
  }
  13.33% {
    background-position: -200px -100px;
  }
  15.00% {
    background-position: -300px -100px;
  }
  16.67% {
    background-position: -400px -100px;
  }
  18.33% {
    background-position: -500px -100px;
  }
  20.00% {
    background-position: 0px -200px;
  }
  21.67% {
    background-position: -100px -200px;
  }
  23.33% {
    background-position: -200px -200px;
  }
  25.00% {
    background-position: -300px -200px;
  }
  26.67% {
    background-position: -400px -200px;
  }
  28.33% {
    background-position: -500px -200px;
  }
  30.00% {
    background-position: 0px -300px;
  }
  31.67% {
    background-position: -100px -300px;
  }
  33.33% {
    background-position: -200px -300px;
  }
  35.00% {
    background-position: -300px -300px;
  }
  36.67% {
    background-position: -400px -300px;
  }
  38.33% {
    background-position: -500px -300px;
  }
  40.00% {
    background-position: 0px -400px;
  }
  41.67% {
    background-position: -100px -400px;
  }
  43.33% {
    background-position: -200px -400px;
  }
  45.00% {
    background-position: -300px -400px;
  }
  46.67% {
    background-position: -400px -400px;
  }
  48.33% {
    background-position: -500px -400px;
  }
  50.00% {
    background-position: 0px -500px;
  }
  51.67% {
    background-position: -100px -500px;
  }
  53.33% {
    background-position: -200px -500px;
  }
  55.00% {
    background-position: -300px -500px;
  }
  56.67% {
    background-position: -400px -500px;
  }
  58.33% {
    background-position: -500px -500px;
  }
  60.00% {
    background-position: 0px -600px;
  }
  61.67% {
    background-position: -100px -600px;
  }
  63.33% {
    background-position: -200px -600px;
  }
  65.00% {
    background-position: -300px -600px;
  }
  66.67% {
    background-position: -400px -600px;
  }
  68.33% {
    background-position: -500px -600px;
  }
  70.00% {
    background-position: 0px -700px;
  }
  71.67% {
    background-position: -100px -700px;
  }
  73.33% {
    background-position: -200px -700px;
  }
  75.00% {
    background-position: -300px -700px;
  }
  76.67% {
    background-position: -400px -700px;
  }
  78.33% {
    background-position: -500px -700px;
  }
  80.00% {
    background-position: 0px -800px;
  }
  81.67% {
    background-position: -100px -800px;
  }
  83.33% {
    background-position: -200px -800px;
  }
  85.00% {
    background-position: -300px -800px;
  }
  86.67% {
    background-position: -400px -800px;
  }
  88.33% {
    background-position: -500px -800px;
  }
  90.00% {
    background-position: 0px -900px;
  }
  91.67% {
    background-position: -100px -900px;
  }
  93.33% {
    background-position: -200px -900px;
  }
  95.00% {
    background-position: -300px -900px;
  }
  96.67% {
    background-position: -400px -900px;
  }
  98.33% {
    background-position: -500px -900px;
  }
}
