/* COMMON */

html {
  --color-white: #fff;
  --color-black: #000;
  --color-font: #1d1d1d;
  --color-font-darkgray: #6e6e6e;
  --color-font-lightgray: #f5f5f5;
  --color-link: #0071e3;
  --color-link-focus: #81b9f1;
  --color-border: #d2d2d2;
  --color-header: #3a3a3a;
  --color-section: #f5f5f5;
  --color-shadow: rgba(0, 0, 0, 0.4);
  --header-height: var(--header-height);
}

html.fixed {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

body {
  height: 5000px;
  position: relative;
  font-size: 16px;
  font-family: "roboto", "Noto Sans KR", "sans-serif";
  line-height: 1;
  color: var(--color-font);
}

a {
  text-decoration: none;
  color: var(--color-font);
}

p {
  line-height: 1.6;
}

.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Links */

.links {
  display: flex;
  gap: 40px;
  justify-content: center;
}

a.link {
  color: var(--color-link);
  font-size: 19px;
  line-height: 1.3;
}

a.link:hover {
  text-decoration: underline;
}

a.link::after {
  content: " >";
}

/* Inner */
.inner {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

/* btn */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: var(--color-link);
  color: var(--color-white);
  font-size: 11px;
  line-height: 1;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:focus {
  box-shadow: 0 0 0 4px var(--color-link-focus);
}

.btn:hover {
  opacity: 0.7;
}

/* Feature */
.feature {
  display: flex;
}

/* Figures */
.figures {
  flex-grow: 1;
  position: relative;
}

.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}

/* Infos */
.infos {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.infos.info--center {
  justify-content: center;
}
.infos.info--end {
  justify-content: flex-end;
}

.info {
  max-width: 330px;
  margin-bottom: 24px;
}

.info .icon {
  width: 100px;
  height: 100px;
  margin: 0 0 -30px -30px;
  background-image: url(../images/sprite_apps.png);
}

.info p {
  font-size: 21.5px;
  font-weight: 600;
  line-height: 1.5;
}

/* Header */

header {
  background-color: var(--color-header);
  position: relative;
  z-index: 8;
}

header .main_menu {
  display: flex;
  color: var(--color-font-lightgray);
  justify-content: space-between;
  height: 45px;
}

header ul li {
  font-size: 14px;
  display: flex;
}

header .main_menu > li > a {
  padding: 0 10px;
  color: var(--color-font-lightgray);
  text-decoration: none;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

header ul li a:hover {
  opacity: 1;
}

header ul.main_menu > li.header_logo > a,
header ul.main_menu > li.btn_search > a,
header ul.main_menu > li.btn_shopping_bag > a {
  width: 14px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 10px 13px;
}

header ul li.header_logo > a {
  background-image: url(../images/header_apple.svg);
  background-position: center;
}

header ul li.btn_search > a {
  background-image: url(../images/header_search.svg);
}

header ul.main_menu > li.btn_shopping_bag > a {
  background-image: url(../images/header_bag.svg);
}

header .btn_shopping_bag {
  position: relative;
}

/* Shopping_bag DropDown Menu */
header .shopping_bag {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-white);
  width: 320px;
  top: calc(100% + 4px);
  right: -20px;
  border-radius: 20px;
  border: 2px solid var(--color-border);
  padding: 20px 10px 10px;
  box-sizing: border-box;
  transition: 0.5s;
}

header .shopping_bag.show {
  visibility: visible;
  opacity: 1;
}

.main_menu .btn_shopping_bag .shape {
  width: 20px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: 26px;
}

.main_menu .btn_shopping_bag .shape::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid var(--color-border);
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 50%;
  transform: rotate(45deg);
  transform-origin: 0 0;
}

.main_menu .btn_shopping_bag .message {
  font-size: 17px;
  text-align: center;
  margin: 30px 0;
  color: var(--color-font-darkgray);
}

.main_menu .btn_shopping_bag .shopping_bag ul li > a {
  display: block;
  width: 100%;
  color: var(--color-link);
  border-top: 1px solid var(--color-border);
  font-weight: 500;
  font-size: 14px;
  padding: 14px;
}

.main_menu .btn_shopping_bag .shopping_bag ul li > a:hover {
  text-decoration: underline;
}

/* Header / Search bar */

header .search_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

header .search {
  max-width: calc(100% - 90px);
  margin: 0 auto;
  position: relative;
}

header .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
}

header .search .textfield {
  position: relative;
}

header .search .textfield input {
  width: 100%;
  height: var(--header-height);
  color: var(--color-white);
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: transparent;
}

header .search .textfield .search-icon {
  width: 40px;
  height: var(--header-height);
  background-image: url(../images/header_search.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}
header .search .textfield .search-closer {
  width: 40px;
  height: var(--header-height);
  background-image: url(../images/header_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0.4;
}

header .search .textfield .search-closer:hover {
  opacity: 1;
}

header .search .auto-completes {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  padding: 26px 40px 20px;
  background-color: var(--color-white);
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
}

header .search .auto-completes h3 {
  margin-bottom: 20px;
  font-size: 13px;
}

header .search .auto-completes li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}
header .search .auto-completes li:hover a {
  color: var(--color-link);
}

/* SearchBar Animation  */
header .search input,
header .search .search-icon,
header .search .auto-completes h3,
header .search .auto-completes li {
  transition: 0.6s;
  transform: translate(100px, 0);
}

header.searching .inner ul.main_menu li {
  opacity: 0;
  transform: scale(0.7);
}

header.searching .search_wrap {
  visibility: visible;
  transition-delay: 0.2s;
  opacity: 1;
}

header.searching .search input,
header.searching .search .search-icon,
header.searching .search .auto-completes h3,
header.searching .search .auto-completes li {
  transition-delay: 0.2s;
  transform: translate(0, 0);
}

/* Sticky Header_Navigation */

nav {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  z-index: 10;
  border-bottom: 1px solid var(--color-border);
}

nav .inner {
  display: flex;
  align-items: center;
  height: 52px;
}

nav h2 {
  margin-left: 12px;
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
}

nav .nav_menu {
  display: flex;
  gap: 12px;
  margin-right: 12px;
}

nav .nav_menu a {
  font-size: 13px;
  display: block;
  padding: 6px;
}

nav .nav_menu li:hover a {
  color: var(--color-link);
}

nav .nav_menu li.active a {
  opacity: 0.5;
  cursor: default;
}

nav .nav_menu li.active:hover a {
  color: var(--color-font);
}

/* Hero Content */

.hero {
  background-color: var(--color-section);
}
.hero .inner {
  padding-bottom: 110px;
}
.hero h1 {
  position: relative;
  width: 221px;
  height: 91px;
  background-image: url(../images/hero_ipad_text.png);
  transform: translate(624px, 235px);
  z-index: 1;
}

.hero .figures {
  height: 808px;
  position: relative;
}

.hero figure {
  transform: translate(74px, -164px);
}

.hero figure figcaption .caption-camera {
  transform: translate(43px, 580px);
  width: 120px;
  height: 84px;
  background-image: url(../images/hero_ipad_caption_camera.png);
}
.hero figure figcaption .caption-chip {
  transform: translate(589px, 430px);
  width: 95px;
  height: 43px;
  background-image: url(../images/hero_ipad_caption_chip.png);
}
.hero figure figcaption .caption-storage {
  transform: translate(627px, 501px);
  width: 80px;
  height: 43px;
  background-image: url(../images/hero_ipad_caption_storage.png);
}

.hero h2 {
  width: 738px;
  height: 145px;
  margin: 0 auto;
  background-image: url(../images/hero_headline.png);
}

.hero p.pricing {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.hero p.description {
  width: 88%;
  margin: 18px auth 0;
  font-size: 19px;
  text-align: center;
}

.hero .links {
  margin-top: 40px;
}

/* Power Section */

.power {
  margin-top: 110px;
}

/* Power - Multiple Apps */

.power .multiple-apps h1 {
  width: 500px;
  height: 280px;
  background-image: url(../images/power_headline.png);
  transform: translate(104px, 0);
}

.power .multiple-apps .figures {
  height: 773px;
}

.power .multiple-apps figure figcaption {
  width: 136px;
  height: 46px;
  background-image: url(../images/power_multiple_apps_caption.png);
  transform: translate(700px, -40px);
}

/* Power - Arcade */
.power .arcade {
  margin-top: 60px;
}

.power .arcade .figures {
  height: 750px;
}

.power .arcade figure {
  transform: translate(-347px, -90px);
}

.power .arcade figcaption {
  width: 150px;
  height: 77px;
  background-image: url(../images/power_arcade_caption.png);
  transform: translate(483px, 673px);
}

/* Power - Create */
.power .create {
  margin-top: 60px;
}

.power .create .figures {
  height: 800px;
}

.power .create figure {
  transform: translate(-25px, 50px);
}

.power .create figcaption {
  width: 142px;
  height: 46px;
  background-image: url(../images/power_create_caption.png);
  transform: translate(600px, 920px);
}
